extends layout
 
block content
  section.css-table
    section.two-column
      section.cell
        h2 About
        p This project was created for the 2016 HackCulture humanities-focused hackathon at the University of Illinois in Urbana-Champaign. Our project hopes to alleviate feelings of alienation and disconnectednes that result from the stressful academic culture in our community. Details and source code for the project can be found at #[a(href="https://github.com/nateve/hackathon") github.com/nateve/hackathon].
        br
        p For more information: #[a(href="https://publish.illinois.edu/hackculture/") publish.illinois.edu/hackculture]
      section.cell
        h2 Members
        p Natalie DeClerck ndecle2@illinois.edu
        p Smit Desai smitad2@illinois.edu
        p Ian Harmon iharmon2@illinois.edu
        p Isabel Musse imusse2@illinois.edu
  section.css-table
    section.two-column
      section.cell
        
