extends layout

block content
  h1#feelingheader How are you feeling right now?
  .container
    .row
      form#target(action='/', method='post')
        #search-bar.input-group.stylish-input-group
            input#feeling.form-control(type='text', name="emotion", placeholder='Enter an emotion..', aria-describedby='basic-addon2')
            span.input-group-btn
                button#go.btn.btn-default(type='submit') Go!