extends layout

block content
  h1 What are you feeling right now?
  .container
    .row
      .col-sm-6
        #search_container
          #search-bar.input-group.stylish-input-group
            input.search-bar.form-control(type='text', placeholder='What are you feeling right now?', style='width:400px;height:50px;top:50%;margin-left:50%;margin-bottom:5%;')