extends layout

block content
  h1#feelingheader What are you feeling right now?
  .container
    .row
      #search-bar.input-group.stylish-input-group
        input#feeling.search-bar.form-control(type='text', placeholder='Enter an emotion')