doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="http://code.jquery.com/jquery-2.1.0.min.js" type="text/javascript")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript")
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
