doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/my_style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="/javascript/jquery-3.1.1.min.js", type="text/javascript")
    script(src="http://code.jquery.com/jquery-3.1.1.min.js", type="text/javascript")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", type="text/javascript")
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") Tweets
          li 
            a(href="/contact") Contact
    section#wrapper
      block content
      footer 
        p &copy; UIUC HackCulture
