extends layout

block content
  h1#title You're not the only one who feels #{emotion}!
  section.css-table
    section.two-column
      section#info.cell
        img#infograph(src='/images/stressed_2.png')
      section.cell
        h2 Recent Tweets From CU
        div#tweetwrap
          if tweets
            ul#tweets
              for tweet in tweets
                each status in tweet
                  if status.text
                    li= status.text
          else
            li sorry, no tweets!
  section.css-table
    section.three-column
      section.cell
        h3 Community Resources
        ul#resources
          li Check the Stress Management Program at Mckinley - you can schedule an individual appointment, which is kept confidential: #[a(href="http://mckinley.illinois.edu/health-education/stress-management") mckinley.illinois.edu/health-education/stress-management ] or call 217-333-2701
      section.cell
        h3 Okay, but what can I do right now?
        ul#donow
          li Chat with someone in a similar situation
          li Take a break! Just 10 min of "personal time" can refresh you. What about trying a short meditation, or going for a walk?
      section.cell
        h3 Disclaimer:
        ul
          li If this is an emergency, call 911
          li The Community Elements Crisis Line is available 24/7: (217) 359-4141 
  script(type='text/javascript').
        window.__lc = window.__lc || {};
        window.__lc.license = 8355951;
        (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; 
        lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://')+ 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
        })();


